:root {

}

html, body, main {
    margin: 0;
    padding: 0;
}

/* header/navbar */
header {
    background-color: red;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5rem;
}

nav {
    margin-right: 1rem;
}

nav > ul {
    padding: 0;
    width: max-content;
    height: 4rem;
    background-color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    /* padding:  */
}

.navItem {
    height: 100%;
    /* padding: 0 1rem; */
    width: max-content;
    list-style: none;
    background-color: green;
}

.navItem > a {
    display: inline-block;
    /* width: max-content; */
    height: 100%;
    background-color: blue;
    line-height: 4rem;
    padding: 0 1rem;
    border: 2px solid rgba(255, 255, 255, 0);
}

.navItem:hover {
    cursor: pointer;
    border-bottom: 3px solid black;
}

