* {
    padding: 0;
    margin: 0;
}



main img {
    position: absolute;
    width: 100vw;
    z-index: -1;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 10%;
    gap: 13vw;
}

section div div {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 5px;
    height: 10vw;
    width: 10vw;

    text-align: center;
    font-size: 1.5vw;
}

section div div:hover {
    background-color: rgba(255, 201, 201, 0.874);
}

section div {
    display: flex;
    justify-content: center;
    width: 100vw;
    gap: 15%;
}
